# Tauri and Rust artifacts
src-tauri/target/

# Node / Vite
node_modules/
dist/

# Android generated build files
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/buildSrc/.gradle/
src-tauri/gen/android/buildSrc/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/app/src/main/jniLibs/
src-tauri/gen/android/app/src/main/assets/
src-tauri/gen/android/tauri.settings.gradle
src-tauri/gen/android/.tauri/
src-tauri/gen/android/local.properties
